@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded webfont';
  src: url('/fonts/MuseoSansRounded1000.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded100.otf') format('otf');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded300.otf') format('otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded500.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded700.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded900.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo sans rounded';
  src: url('/fonts/MuseoSansRounded1000.otf') format('otf');
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
