---
import StartLayout from "../layouts/StartLayout.astro";
---

<StartLayout title="Hejhej">
	<header></header>
	<h1>Test</h1>

	<div class="box">
		<div class="box__hifi">
			<p>hi</p>
			<p>fi</p>
		</div>
		<p>hificorner.co.uk</p>
	</div>


</StartLayout>
