---
import StartLayout from "../layouts/StartLayout.astro";
---

<StartLayout title="Hejhej">
	<header></header>
	<h1>Test</h1>

	<div class="box">
		<div class="box__hifi">
			<p>hi</p>
			<p>fi</p>
		</div>
		<p>hificorner.co.uk</p>
	</div>
</StartLayout>

<style>
	* {
		margin: auto;
		box-sizing: border-box;
	}

	.box > p{
		text-align: center;
		text-transform: uppercase;
		font-size: 0.62em;
		font-weight: 700;
	}

	.box__hifi {
		border: 2px solid black;
		width: 100px;
		height: 100px;
		padding-top: 3.5em;
		padding-left: 0.2em;
	}

	.box__hifi > p {
		text-transform: uppercase;
	}
</style>
