---
import StartLayout from "../layouts/StartLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { Image } from "astro:assets";
import banner from "../assets/product_site/product_banner.png";
import "../styles/global.css";
---

<StartLayout title="Search products - HIFI-corner">
    <div id="wrapper">
        <Breadcrumbs />
        <div class="bannerBox">
            <Image class="" src={banner} alt="" format="webp" />
        </div>

        <section class="productSection">
            <div class="productBox1">
                <img src="https://via.placeholder.com/400x300" alt="" />
                <p>More Views</p>
                <div class="moreImgsBox">
                    <img src="https://via.placeholder.com/50x50" alt="" />
                    <img src="https://via.placeholder.com/50x50" alt="" />
                </div>
            </div>

            <div class="productBox2">
                <p class="productName">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="productPriceBox">
                    <p class="productOptions">See other Marantz products</p>
                    <p class="productPriceBefore">£500.00</p>
                    <p class="productPriceCurrent">£250.00</p>
                </div>
                <p class="productText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam at cursus leo, ut efficitur risus. Sed mollis feugiat
                    tellus, at fringilla nibh. Pellentesque quis porta elit.
                    Vestibulum ut gravida mi.
                </p>
                <div class="productFaqBox">
                    <a href="">ASK A QUESTION</a>
                    <a href="">PART EXCHANGE</a>
                    <a href="">PAY BY FINANCE</a>
                    <a href="">SEEN A BETTER PRICE?</a>
                </div>
            </div>
        </section>
    </div>
</StartLayout>

<style>
    p,
    a {
        font-family: "Museo sans rounded webfont";
        color: #b19b61;
    }

    #wrapper {
        max-width: 1100px;
        margin: auto;
        background-color: white;
        padding: 0em 4em;
    }

    .moreImgsBox {
        display: grid;
        padding-top: 1em;
        grid-template-columns: repeat(2, 50px);
        column-gap: 2em;
    }

    body {
        background-color: black;
    }

    .bannerBox img {
        margin: auto;
        display: block;
    }

    .bannerBox {
        padding-bottom: 1.5em;
    }

    .bannerBox img {
        max-width: 972px;
    }

    .productSection {
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .productBox1 {
        height: 800px;
        max-width: 400px;
    }

    .productBox2 {
        height: 800px;
    }

    .productName {
        font-size: 18px;
        font-weight: 700;
    }

    .productPriceBox {
        display: grid;
        grid-template-columns: 4fr 50px 130px;
        padding-top: 1em;
        align-items: center;
    }

    .productPriceBefore {
        text-decoration: line-through;
        text-align: end;
    }

    .productPriceCurrent {
        text-align: end;
        font-size: 25px;
    }

    .productOptions {
        font-weight: 700;
    }

    .productText {
        padding-top: 3em;
        color: black;
    }

    .productFaqBox {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding-top: 3em;
    }

    .productFaqBox a {
        background-color: #b19b61;
        color: white;
        max-width: 110px;
        font-size: 9px;
        text-decoration: none;
        text-align: center;
        padding: 1em 0;
    }

    .productFaqBox a:hover {
        color: black;
    }
    
    </style>
