---
import StartLayout from "../layouts/StartLayout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { Image } from "astro:assets";
import banner from "../assets/product_site/product_banner.png";
import "../styles/global.css";
import paypal from "../assets/product_site/paypal.png"
---

<StartLayout title="Search products - HIFI-corner">
    <div id="wrapper">
        <Breadcrumbs />
        <div class="bannerBox">
            <Image class="" src={banner} alt="" format="webp" />
        </div>

        <section class="productSection">
            <div class="productBox1">
                <img
                    class="productImgBig"
                    src="https://via.placeholder.com/400x300"
                    alt=""
                />
                <p>More Views</p>
                <div class="moreImgsBox">
                    <img src="https://via.placeholder.com/50x50" alt="" />
                    <img src="https://via.placeholder.com/50x50" alt="" />
                </div>
            </div>

            <div class="productBox2">
                <p class="productName">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
                <div class="productPriceBox">
                    <p class="productOptions">See other Marantz products</p>
                    <p class="productPriceBefore">£500.00</p>
                    <p class="productPriceCurrent">£250.00</p>
                </div>
                <p class="productText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam at cursus leo, ut efficitur risus. Sed mollis feugiat
                    tellus, at fringilla nibh. Pellentesque quis porta elit.
                    Vestibulum ut gravida mi.
                </p>
                <div class="productFaqBox">
                    <a href="">ASK A QUESTION</a>
                    <a href="">PART EXCHANGE</a>
                    <a href="">PAY BY FINANCE</a>
                    <a href="">SEEN A BETTER PRICE?</a>
                </div>

                <div class="checkoutBox">
                    <div class="formColorBox">
                        <p class="formColorBoxText1">Finish*</p>
                        <p class="formColorBoxText2">* Required Fields</p>
                        <form action="">
                            <label class="colorLabelBox" for="">
                                <input
                                    name="color_options"
                                    type="radio"
                                    id="black"
                                    value="BLACK"
                                />
                                <label for="black">Black</label>
                                <br />
                            </label>
                            <br />
                            <label class="colorLabelBox" for="">
                                <input
                                    name="color_options"
                                    type="radio"
                                    id="silver"
                                    value="SILVER"
                                />
                                <label for="silver">Silver</label>
                            </label>
                        </form>
                    </div>

                    <div class="formCheckOutBox">
                        <form action="">
                            <label class="productCount" for="quantity"
                                >Qty:</label
                            >
                            <input
                                value="1"
                                type="number"
                                id="quantity"
                                name="quantity"
                                min="1"
                                max="99"
                            />
                            <input
                                class="addToCart"
                                value="ADD TO CART"
                                type="submit"
                            />
                        </form>
                        <br>
                        <p class="or">-OR-</p>
                        <div class="paypalCheckout">
                            <Image class="paypalIcon" src={paypal} alt="" format="webp" />
                            <p class="checkOut">Check Out</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</StartLayout>

<style>
    p,
    a {
        font-family: "Museo sans rounded webfont";
        color: #b19b61;
    }

    #wrapper {
        max-width: 1100px;
        margin: auto;
        background-color: white;
        padding: 0em 4em;
    }

    .moreImgsBox {
        display: grid;
        padding-top: 1em;
        grid-template-columns: repeat(2, 50px);
        column-gap: 2em;
    }

    body {
        background-color: black;
    }

    .bannerBox img {
        margin: auto;
        display: block;
    }

    .bannerBox {
        padding-bottom: 1.5em;
    }

    .bannerBox img {
        max-width: 972px;
    }

    .productSection {
        height: 800px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .productBox1 {
        height: 800px;
        max-width: 400px;
    }

    .productImgBig {
        border: 1px gray solid;
    }

    .productBox2 {
        height: 800px;
    }

    .productName {
        font-size: 18px;
        font-weight: 700;
    }

    .productPriceBox {
        display: grid;
        grid-template-columns: 4fr 50px 130px;
        padding-top: 1em;
        align-items: center;
    }

    .productPriceBefore {
        text-decoration: line-through;
        text-align: end;
    }

    .productPriceCurrent {
        text-align: end;
        font-size: 25px;
    }

    .productOptions {
        font-weight: 700;
    }

    .productText {
        padding-top: 3em;
        color: black;
    }

    .productFaqBox {
        display: grid;
        grid-template-columns: repeat(4, auto);
        padding-top: 3em;
    }

    .productFaqBox a {
        background-color: #b19b61;
        color: white;
        max-width: 110px;
        font-size: 9px;
        text-decoration: none;
        text-align: center;
        padding: 1em 0;
    }

    .productFaqBox a:hover {
        color: black;
    }

    .checkoutBox {
        border: solid 1px grey;
        height: 300px;
        margin-top: 2em;
    }

    .formColorBox {
        height: 100px;
        border-bottom: 1px grey solid;
        padding: 0.5em 1em 0em 1em;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
    }

    .colorLabelBox {
        background-color: rgb(200, 200, 200);
        padding: 0.25em 8em 0.25em 1em;
    }

    .formColorBoxText2 {
        text-align: end;
        color: red;
    }

    .formCheckOutBox {
        width: 100%;
        height: 199px;
        background-color: rgb(200, 200, 200);
        border-bottom: 1px grey solid;
        padding: 1em 1em 0em 1em;
    }

    .or {
        margin-left: 9em;
    }

    .productCount {
        color: #b19b61;
        font-weight: 700;
        padding-right: 0.5em;
    }

    #quantity {
        padding: 1em 0;
        text-align: center;
    }

    .addToCart {
        background-color: #b19b61;
        outline: none;
        border: none;
        color: white;
        padding: 1em 2em;
        margin-left: 0.5em;
        cursor: pointer;
        font-weight: 700;
    }

    .paypalIcon {
        max-width: 50px;
        max-height: 50px;
        scale: 110%;
    }

    .paypalCheckout {
        display: grid;
        grid-template-columns: 50px 70px;
        background-color: orange;
        width: 130px;
        height: 30px;
        border-radius: 5em;
        margin-left: 6em;
        margin-top: 1em;
        cursor: pointer;
        justify-content: center ;
        justify-content: start;
    }

    .checkOut {
        font-size: 12px;
        color: black;
        width: 70px;
        text-align: center;
        
    }
</style>
