---
import StartLayout from '../layouts/StartLayout.astro';
import Breadcrumbs from '../components/Breadcrumbs.astro';
import '../styles/global.css';
import Sort from '../components/Sort.astro';
import { Image } from 'astro:assets';
import '../styles/product.css'
---

<script>
  import getDataFromApi from '../scripts/getData';
  import { makeProductElement } from '../scripts/makeProductElement';

  // Get URL params for search
  const urlParams = new URLSearchParams(window.location.search)
  urlParams.set('q', 'creek')
  

  const numberP = document.querySelector('.sort__by__number__items')
  const productGrid = document.querySelector('.grid__col4');
  const data = await getDataFromApi('products');
  data.forEach((product) => {
    const newProduct = makeProductElement(
      product.pictures[0],
      product.title,
      product.price,
      product.discount
    );
    productGrid.appendChild(newProduct);
  });
  // Puts a number on how many products on search list
  numberP.innerHTML = `${data.length} item(s)`
</script>

<StartLayout title="Search products - HIFI-corner">
  <div class="width__con">
    <Breadcrumbs />
    <div class="grid__con">
      <section class="filter__section">
        <div class="filter__products">
          <ul>
            <li>Amplifiers</li>
            <li>Speakers</li>
            <li>Turntables</li>
            <li>CD players</li>
            <li>Streamers</li>
            <li>Cables</li>
            <li>Furniture</li>
            <li>Headphones</li>
            <li>Home Cinema</li>
            <li>Ceiling speakers</li>
            <li>TV</li>
            <li>Vinyl</li>
            <li>Outles - Save ££££</li>
          </ul>
        </div>
        <div class="filter__manufacturer">
          <div class="flex__con">
            <h3>shop by</h3>
            <p class="p--black">Filter</p>
            <p class="p--black p--upper">price</p>
          </div>
          <ul>
            <li>£0.00 - £799.99 (<span class="product__count__0"></span>)</li>
            <li>£800.00 - £999.99 (<span class="product__count__800"></span>)</li>
            <li>£1,000.00 - £1,499.99 (<span class="product__count__1000"></span>)</li>
            <li>£1,500.00 - £1,999.99 (<span class="product__count__1500"></span>)</li>
            <li>£2,000.00 - £2,999.99 (<span class="product__count__2000"></span>)</li>
            <li>£3,000.00 - £3,499.99 (<span class="product__count__3000"></span>)</li>
            <li>£3,500.00 - £4,999.99 (<span class="product__count__3500"></span>)</li>
            <li>£5,000.00 - £7,999.99 (<span class="product__count__5000"></span>)</li>
            <li>£8,000.00 - £11,999.99 (<span class="product__count__8000"></span>)</li>
            <li>£12,000.00 and above(<span class="product__count__12000"></span>)</li>
          </ul>
          <h3 class="p--black p--upper">manufacturer</h3>
          <ul>
            <li>Creek (<span class="product__count__creek"></span>)</li>
            <li>Exposure (<span class="product__count__exposure"></span>)</li>
            <li>Parasound (<span class="product__count__parasound"></span>)</li>
            <li>Manley (<span class="product__count__manley"></span>)</li>
            <li>Project (<span class="product__count__project"></span>)</li>
            <li>Boesendorfer (<span class="product__count__boesendorfer"></span>)</li>
            <li>Epos (<span class="product__count__epos"></span>)</li>
            <li>Harbeth (<span class="product__count__herbeth"></span>)</li>
            <li>Jolida (<span class="product__count__jolida"></span>)</li>
          </ul>
        </div>
      </section>
      <section class="product__section">
        <h1 class="product__section__title">amplifiers</h1>
        <Sort />
        <section class="grid__col4"></section>
        <Sort />
      </section>
      <section class="manufacturer__section">
        <p class="manufacturer__p">Manufacturer</p>
        <ul class="manufacturer__ul">
          <li class="p--upper">Jolida</li>
        </ul>
      </section>
    </div>
  </div>
</StartLayout>

<style>
  .grid__col4 {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
  }

  .product h4 {
    height: 10px;
  }

  ul {
    list-style: none;
  }

  ul li {
    cursor: pointer;
    transition: transform 0.2s;
  }

  ul li:hover {
    transform: scale(1.1);
  }

  body {
    background-color: black;
  }

  .grid__con {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .width__con {
    margin: 0 10em;
    background-color: white;
  }

  .p--black {
    color: black;
  }

  .p--upper,
  .filter__section h3 {
    text-transform: uppercase;
  }

  .width__con {
    font-family: 'Museo sans rounded webfont';
    padding: 0 2em;
  }

  .filter__section {
    color: var(--text-color);
    padding: 0 2em;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .filter__products,
  .filter__manufacturer {
    background-color: var(--filter-bg-color);
    padding: 2em;
  }

  .filter__manufacturer {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .filter__section ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .flex__con {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .manufacturer__section {
    padding: 2em;
  }

  .manufacturer__p {
    color: var(--text-color);
  }

  .manufacturer__ul {
    padding: 0.5em 0 0.5em 1em;
  }
</style>
