---
import '../styles/global.css'
---

<script>
  const currentSite = document.querySelector('.currentsite')
  currentSite.textContent = window.location.search.slice(3)
</script>

<div class="breadcrumbs">
  <a  class="bread__link" href="/">Home</a>
  <p>/</p>
  <a class="bread__link" href="/shop-category">Shop</a>
  <p>/</p>
  <a class="bread__link currentsite" href="/shop_category/"></a>
</div>

<style>
  .currentsite {
    text-transform: capitalize;
  }
  
  .breadcrumbs {
    display: flex;
    gap: 1em;
    padding: 2em 2em;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  .bread__link {
    color: var(--text-color);
  }

  a:last-child {
    color: initial;
  }
</style>