---
import '../styles/global.css'
---

<script>
  import {titleChecker} from '../scripts/utils'
  // A mutation Observer for changing the breadcrumbs text to match with the current clicked category
  titleChecker()
</script>

<div class="breadcrumbs">
  <a  class="bread__link" href="/">Home</a>
  <p>/</p>
  <a class="bread__link" href="/shop-category">Shop</a>
  <p>/</p>
  <p class="bread__link currentsite"></p>
</div>

<style>
  .currentsite {
    text-transform: capitalize;
  }
  
  .breadcrumbs {
    display: flex;
    gap: 1em;
    padding: 2em 2em;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  .bread__link {
    color: var(--text-color);
  }

  p:last-child {
    color: initial;
  }
</style>