

<header>
    <div class="upperNav">
        <li><a href=""><i class="fa-solid fa-location-dot"></i></i></a></li>
        <li><a href=""><i class="fa-solid fa-phone"></i></a></li>
        <li><a href=""><i class="fa-regular fa-envelope"></i></a></li>
        <li class="subButton"><a href=""><i class="fa-regular fa-envelope"></i>Subscribe</a></li>
    </div>
    <nav>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">BRANDS</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="">SHOP</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        width: 100%;
    }

    .subButton {
        background-color: rgb(0, 145, 255);
        padding: 5px 10px;
        width: 75px;
        position: relative;
        bottom: 5px;
    }

    .upperNav {
        background-color: rgba(0, 0, 0, 0.582);
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: end;
        column-gap: 2em;
        padding-right: 2em;
        padding: 1em;
        height: 20px;
    }

    .upperNav li {
        list-style: none;
    }

    .upperNav a {
        font-size: 15px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(2, auto);
    }

    nav {
        padding: 20px;
        background-color: black;
    }

    a {
        color: white;
        font-size: 12px;
        text-decoration: none;
    }

    a:hover {
        color: goldenrod;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(7, auto);
        width: 500px;
        margin: auto;
    }

    h1 {
        color: white;
    }
</style>
