---
import "../styles/global.css";
import { Image } from "astro:assets";
import hifiLogo from "../assets/header/hifi_logo.jpg";
---

<script>
    const getURL = window.location.href
    if(!getURL.includes('/shop-category/')) {
    console.log(getURL)
    if(!getURL.includes('shop')) {
        document.querySelector('header').style.position = 'absolute'
    }
</script>

<header>
    <div class="upperNav">
        <a class="homeButton" href="/">
            <Image class="upperNav_logo" src={hifiLogo} alt="" format="webp" />
        </a>

        <form class="upperNav_search" action="">
            <input
                placeholder="Search entire store here..."
                type="search"
                name=""
                id=""
                class="upperNav_searchInput"
            />
            <button type="submit"
                ><i class="fa-solid fa-magnifying-glass"></i></button
            >
        </form>
        <ul>
            <li><a href=""><i class="fa-solid fa-user"></i>ACCOUNT</a></li>
            <li>
                <a href=""><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li><a href=""><i class="fa-solid fa-location-dot"></i></a></li>
            <li><a href=""><i class="fa-solid fa-phone"></i></a></li>
            <li><a href=""><i class="fa-regular fa-envelope"></i></a></li>
        </ul>
    </div>

    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="">ABOUT US</a></li>
            <li><a href="">BRANDS</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">EVENTS</a></li>
            <li><a href="/shop-category/">SHOP</a></li>
            <li><a href="">CONTACT US</a></li>
        </ul>
    </nav>
</header>

<style>
    /* --- Header --- */

    body {
        margin: 0;
    }

    header {
        width: 100%;
        max-height: 142px;
    }

    nav {
        padding: 20px;
        background-color: black;
        border-top: 1px solid gray;
    }

    a {
        color: white;
        font-size: 12px;
        text-decoration: none;
        font-family: "Museo sans rounded webfont";
    }

    a:hover {
        color: goldenrod;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(7, auto);
        width: 500px;
        margin: auto;
    }

    h1 {
        color: white;
    }

    /* --- UpperNav ---*/

    .upperNav {
        background-color: rgba(0, 0, 0, 0.507);
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        justify-content: end;
        column-gap: 2em;
        padding: 1em 2em 3em 1em;
        height: 80px;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 313px;
        height: 30px;
    }

    .upperNav ul {
        padding-left: 3em;
        column-gap: 1em;
        grid-template-columns: repeat(5, auto);
    }

    .upperNav li {
        list-style: none;
        align-self: center;
        transition: transform 0.2s;
    }

    .upperNav li:hover {
        transform: scale(1.25);
    }

    .upperNav a {
        font-size: 15px;
        display: grid;
        column-gap: 5px;
        grid-template-columns: repeat(2, auto);
    }

    .homeButton {
        width: 50px;
    }

    .upperNav_search button {
        border: none;
        outline: none;
        background-color: white;
        cursor: pointer;
        height: 30px;
    }

    .upperNav_searchInput {
        width: 300px;
        border: none;
        outline: none;
        height: 30px;
    }

    .upperNav_logo {
        width: 50px;
        height: 50px;
        transition: transform 0.2s;
        cursor: pointer;
    }

    .upperNav_logo:hover {
        transform: scale(1.25);
    }
</style>
