---
const {title} = Astro.props
import Header from "./Header.astro";
import Footer from "./Footer.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4aaa23cc72.js" crossorigin="anonymous"></script>
  <title>{title}</title>
</head>
<body>
  <Header></Header>
  <slot />
  <Footer></Footer>
</body>
</html>